if req.user
  script.
    var isLogin = true;
    var userID = '#{req.user._id}';

script.
  window.jQuery || document.write('<script src="#{config.cdn_assets}/js/libs/jquery-2.1.0.min.js"><\/script>')
script(src=config.cdn_assets + '/js/bootstrap.js')
script(src=config.cdn_assets + '/js/plugins.js')
script(src=config.cdn_assets + '/js/apps.js')

if NODE_ENV == 'production'
  script.
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-22117109-15']); _gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
